.input-box{
    width: 460px;
    height: 45px;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid  #B4B7BD,
}
.input-box::placeholder {
  color: #B4B7BD;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 16px;
}