.main-header {
    height: 77px;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 46px;
}

.company-logo {
    width: 220px;
    height: 45px;
}