* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F3F6FA;
    color: #19202D;
}

.content-section {
    flex:1;
    padding-top: 32px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.page-title {
    width:100%;
    padding: 28px 32px;
    border-radius: 8px;
    background-color: #ffffff;
}

.page-title h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: #19202D;
    margin: 0;
}

.form-container {
    width: 100%;
    height: 518px;
    padding: 28px 32px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.employee-form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 15px;
}

.form-group{
    display:flex;
    flex-direction:column;
    gap: 6px;
}

.form-group label{
    color: #19202D;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
}

.form-group input{
    background-color: #FAFAFA;
    height: 44px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-color: #C6CDD9;
    border-style: solid;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 14px;
    font-family: inherit;
    color: #19202D;
}

.form-group input::placeholder{
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #8991A1;
}



.form-group input.small-field{
    width: 223.5px;
    height: 44px;
}

.address-group {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.address-row {
    display: flex;
    gap: 8px;
}

.custom-file-upload {
    position: relative;
    width: 100%;
}

/* .custom-file-upload input[type="file"] {
    display: none;
} */

.upload-label {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 44px;
    background-color: #FAFAFA;
    border: 1px solid #C6CDD9; 
    padding: 0 14px; 
    border-radius: 4px;
}

.left-file-chip-group {
    display: flex;
    align-items: center;
}

.file-chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #000000;
    height: 27px;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 12px;
    background: #03AEEE4D;
    min-width:0;
    max-width:300px;
}

.file-chip span{
    white-space: nowrap;    
    overflow: hidden;       
    text-overflow: ellipsis;
}

.remove-file-btn {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.right-attach-file-group {
    width: 117px;
    height: 24px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-attach-file-group img{
    height: 24px;
    width: 24px;
}

.right-attach-file-group span {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #63667A;
}

.button-group{
    grid-column: span 3;
    display:flex;
    flex-direction: row;
    width: 366px;
    gap: 8px;
}

.create-btn{
    background-color: #03AEEE;
    color: #FFFFFF;
    height: 50px;
    padding-top: 15px;
    padding-left: 65px;
    padding-right: 65px;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    padding-bottom: 13px;
    border-style: solid;
    border-radius: 8px;
    border-color: #03AEEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cancel-btn{
    border-color: #63667A;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    height: 50px;
    width: 179;

    padding-top: 15px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 13px;

    color: #63667A;
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}