.sidebar {
    width: 300px;
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar-navigation-menu {
    width: 276px;
    height: 56px;
    background-color: #1EB4F0;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.employee-list-icon {
    width: 40px;
    height: 40px;
}

